<div id="mainContent" ng-controller="NotebookCtrl" class="container">
	<div class="row">


		<div class="col-md-4" ng-repeat="notebook in myNotebooks.results">
			<div class="well" datastore="notebook" identifier="{{myNotebooks.identifier}}" ng-click="tools.focusNotebook(notebook)">
				<!-- <h1>{{notebook.title}}</h1> -->
				<!-- <p>{{notebook}}</p> -->
				<div media-manager="tools.setNotebookPicture" class="media-manager" max-width="400" max-height="300">
					<div ng-hide="notebook.picture" class="thumbnail">Add Picture</div>
					<img id="notebookImgPreview" ng-show="notebook.picture" class="thumbnail" 
							ng-class="notebook.picture.class" 
							ng-src="{{notebook.picture.src}}" 
							title="{{notebook.picture.name}}">
					<span ng-show="notebook.picture && !notebook.picture.temp">
						The picture has been uploaded successfully!  You can finish saving this.</span>
					<span ng-show="notebook.picture.temp">
						Uploading picture... This may take some time.  Please wait for the picture to upload before you save.
					</span>
				</div>
				<form role="form" ng-submit="tools.notebook.save(notebook)">
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="notebook.title" placeholder="Title">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" ng-model="notebook.description" placeholder="description"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Save Changes</button>
					<button class="btn btn-danger" ng-click="tools.notebook.remove(notebook)">Delete</button>
				</form>
				<div ng-controller="NoteCtrl">
					
					<div class="well" ng-repeat="note in myNotes.results" datastore="note" identifier="{{myNotes.identifier}}">
						<p>{{note.body}}</p>
					</div>
					<div class="well">
						<form role="form" ng-submit="tools.addNote(temp.note)">
							<div class="form-group">
								<label>Add Note</label>
								<textarea class="form-control" ng-model="temp.note.body" placeholder="Note"></textarea>
							</div>
							<button type="submit" class="btn btn-default">Add Note</button>
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="col-md-4">
			<div class="well">
				<form role="form" ng-submit="tools.addNotebook(temp.notebook)">
					<!-- <div class="form-group">
						<label>Category</label>
						<input type="text" class="form-control" ng-model="temp.notebook.category" placeholder="Category">
					</div> -->
					<div class="form-group">
						<label>Title</label>
						<input type="text" class="form-control" ng-model="temp.notebook.title" placeholder="Title">
					</div>
					<div class="form-group">
						<label>Description</label>
						<textarea class="form-control" ng-model="temp.notebook.description" placeholder="description"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Add Notebook</button>
				</form>
			</div>
		</div>


		<div class="col-md-4" ng-controller="ArticleCtrl">
			<div class="well">{{myArticle}}</div>
		</div>
	</div>
</div>