.repeat-animation.ng-leave-stagger, 
.repeat-animation.ng-enter-stagger {
/* 200ms will be applied between each sucessive enter operation */ 
-webkit-transition-delay:0.2s;
transition-delay:0.2s;

/* this is here to avoid accidental CSS inheritance */
-webkit-transition-duration:0;
transition-duration:0;
}

.repeat-animation.ng-leave {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	color: blue;
}
.repeat-animation.ng-leave-active {
	color: red;
	font-size: 500px;
	border-radius: 100px;
	box-shadow: 0px 0px 10px;
}

.repeat-animation.ng-enter {
	-webkit-transition:0.5s linear all;
	transition:0.5s linear all;
	color: green;
	margin:90px;
	width: 20px;
	height: 20px;
	line-height: 0px;
}

.repeat-animation.ng-enter.ng-enter-active {
	color: blue;
	margin: 0px;
	height: 200px;
	width: 200px;
	line-height: 200px;
}

.animate{
	-webkit-transition:.3s linear all;
	transition:.3s linear all;
}